<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../equipment/equipment.css">
    <script src="../js/script.js" defer></script>
    <title>Оборудование</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="header-menu">
                <div class="header-menu1">
                    <div class="header-logo">
                        <img src="../images/logo.png" alt="logo">
                        <span>music recording</span>
                    </div>
                <div class="nav">
                    <a class="nav-item" href="../index.html"> ГЛАВНАЯ</a>
                    <a class="nav-item" href="service.html"> УСЛУГИ</a>
                    <a class="nav-item" href="team.html"> КОМАНДА</a>
                    <a class="nav-item" href="equipment.html"> ОБОРУДОВАНИЕ</a>
                </div>
    
                <div class="phone">
                    <div class="phone-number"> <a class="num" href="tel:+7 (999) 999 99 99"> +7 (999) 999 99 99</a></div>
                </div>
            </div>
    
            <div class="img">
                <div class="content">
                    <div class="img-text">СТУДИЯ ЗВУКОЗАПИСИ УЛЬЯНОВСК</div>
                    <button id="myBtn" class=" bt"><span>ОСТАВИТЬ ЗАЯВКУ</span></button>
                    <div id="myModal" class="modal">
                        <div class="modal-content">
                            <span class="close">&times;</span>
                            <div class="modal-text1">
                                <span>ЗАЯВКА</span>
                            </div>
                            <div class="modal-text2">
                                <span>Как к Вам обращаться</span>
                                <input type="text" placeholder="Иван">
                            </div>
                            <div class="modal-text3">
                                <span>Номер телефона</span>
                                <input type="tel" placeholder="+7 ">
                            </div>
                            <button class="btn">
                                <span>Отправить</span>
                            </button>
                        </div>
                    </div>
            </div>
                </div>    
            </div>
        </div>

        <main>
            <div class="section">
                <div class="section1">
                    <div class="section-text1">
                        <span>Оборудование</span>
                    </div>

                    <div class="section1-text2">
                        <p class="text">• Микрофоны — Stagg, Shure C606N, Shure, SE V7<br>
                            Billy Gibbons, Superlux E102, Superlux FT4,<br>
                            AKG P2, AKG P4, Октава МК-319<br>
                            • Студийные мониторы MACKIE HR824<br>
                            • Акустическая система JBL 612<br>
                            • Сабвуфер JBL 618S<br>
                            • Микшерный пульт Behringer X32RACK<br>
                            • Усилитель для наушников Behringer Power<br>
                            Play PRO-8<br>
                            • Дибокс ARTcessories Dual Z Direct<br>
                            • Наушники AKG K240 MKII, Beuerdynamic DT<br>
                            770 PRO<br>
                            • Камеры Sony Alpha ILCE-6400, Фотоаппарат<br>
                            Canon EOS M50<br>
                            • Проектор Epson EH-TW750</p>
                    </div>
                </div>

                <div class="section2-img">
                    <img class="photo" src="../images/Rectangle 37.jpg">
                </div>

                <div class="section3-img">
                    <img class="photo2" src="../images/Rectangle 38.jpg">
                </div>

                <div class="section4">
                    <div class="section4-text1">
                        <span>Инструменты</span>
                    </div>
                    <div class="section4-text2">
                        <p class="text">• MIDI клавиатура Novation Impulse 61<br>
                            • MIDI клавиатура KORG Pa4X<br>
                            • Синтезатор Casio CDP S-100<br>
                            • Синтезатор KORG B2N<br>
                            • Живая барабанная установка YAMAHA<br> 
                              GIGMAKER, TAMA VR System, TAMA<br>
                            • Электронные барабаны ALESIS<br>
                            • Акустическиая гитара FENDER<br>
                            • Классическая гитара YAMAHA</p>
                    </div>
                </div>
            </div>
        </main>

        <div class="section5">
            <div class="section5-text">
                <div class="section5-text1">
                    <span> КОНТАКТЫ</span>
                </div>

                <div class="section5-text2">
                    <span>Адрес:г.Ульяновск, <br>
                    ул.Карла Маркса, д.15</span>
                </div>

                <div class="section5-text3">
                    <span>Телефон:+7(999) 999 99 99</span>
                </div>

                <div class="section5-text4">
                    <span>Почта: musrecording73@mail.ru</span>
                </div>

                <button class="section5-btn">
                    <span>ОСТАВИТЬ ЗАЯВКУ</span>
                </button>
            </div>
            
            <div class="section5-img">
                <img class="logo-botton" src="../images/sound 3.png">
            </div>
        </div>

        <footer class="footer">
            <span>music recording</span>
        </footer>
    </div>
</body>
</html>