<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../sevice/service.css">
    <script src="../js/script.js" defer></script>
    <title>Услуги</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="header-menu">
                <div class="header-menu1">
                    <div class="header-logo">
                        <img src="../images/logo.png" alt="logo">
                        <span>music recording</span>
                    </div>
                <div class="nav">
                    <a class="nav-item" href="../index.html"> ГЛАВНАЯ</a>
                    <a class="nav-item" href="service.html"> УСЛУГИ</a>
                    <a class="nav-item" href="team.html"> КОМАНДА</a>
                    <a class="nav-item" href="equipment.html"> ОБОРУДОВАНИЕ</a>
                </div>
    
                <div class="phone">
                    <div class="phone-number"> <a class="num" href="tel:+7 (999) 999 99 99"> +7 (999) 999 99 99</a></div>
                </div>
            </div>
    
            <div class="img">
                <div class="content">
                    <div class="img-text">СТУДИЯ ЗВУКОЗАПИСИ УЛЬЯНОВСК</div>
                    <button id="myBtn" class=" bt"><span>ОСТАВИТЬ ЗАЯВКУ</span></button>
                    <div id="myModal" class="modal">
                        <div class="modal-content">
                            <span class="close">&times;</span>
                            <div class="modal-text1">
                                <span>ЗАЯВКА</span>
                            </div>
                            <div class="modal-text2">
                                <span>Как к Вам обращаться</span>
                                <input type="text" placeholder="Иван">
                            </div>
                            <div class="modal-text3">
                                <span>Номер телефона</span>
                                <input type="tel" placeholder="+7 ">
                            </div>
                            <button class="btn">
                                <span>Отправить</span>
                            </button>
                        </div>
                    </div>
            </div>
                </div>    
            </div>
        </div>

        <div class="section1">
            <div class="section1-text1">
                <span>УСЛУГИ</span>
            </div>

            <div class="section1-text2">
                <p class="text">Если Вы хотите в студии записать свою группу, песню под ключ в подарок или <br>
                    на свадьбу, корпоративный гимн или просто спеть для себя под минусовку,мы<br>
                    можем помочь не только со звукозаписью, но и с написанием музыки, текста и<br>
                    аранжировки. И не переживайте, если Вы пока что чего-то не умеете — <br>
                    на нашей студии мы Вас всему обучим и проведем в создании Вашего<br>
                    собственного трека от начала и до конца, а с помощью современных<br>
                    технологий исправим любые ошибки исполнения.</p>
            </div>
        </div>

        <div class="section2">
            <div class="section2-column">
                <div class="section2-column1">
                    <div class="section2-column1-text1">
                        <span>Запись</span>
                    </div>

                    <div class="section2-column1-img">
                        <img class="photo" src="../images/Ellipse 1.png">
                    </div>

                    <div class="section2-column1-text2">
                        <p class="text">Запись вокала 800 руб в час.<br>
                            Запись дикторов 800 руб в час.<br>
                            Пакет записи 6 часов - 4500 руб.</p>
                    </div>
                </div>
                <div class="section2-column2">
                    <div class="section2-column2-text1">
                        <span>Сведение</span>
                    </div>

                    <div class="section2-column2-img">
                        <img class="photo" src="../images/Ellipse 5.png">
                    </div>

                    <div class="section2-column2-text2">
                        <p class="text">Сведение мультитрека от 3500 руб.<br>
                            Сведение голоса от 2500 руб.<br>
                            Тюнинг вокала от 500 руб.</p>
                    </div>
                </div>
                <div class="section2-column3">
                    <div class="section2-column3-text1">
                        <span>Прочее</span>
                    </div>

                    <div class="section2-column3-img">
                        <img class="photo" src="../images/Ellipse 4.png">
                    </div>

                    <div class="section2-column3-text2">
                        <p class="text">Написание аранжировки от 4000 руб.<br>
                            Текст на заказ от 2500 руб.<br>
                            Трек под ключ от 9000 руб.<br>
                            Обложка для релиза от 500 руб.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="section3">
            <div class="section3-text">
                <div class="section3-text1">
                    <span> КОНТАКТЫ</span>
                </div>

                <div class="section3-text2">
                    <span>Адрес:г.Ульяновск, <br>
                    ул.Карла Маркса, д.15</span>
                </div>

                <div class="section3-text3">
                    <span>Телефон:+7(999) 999 99 99</span>
                </div>

                <div class="section3-text4">
                    <span>Почта: musrecording73@mail.ru</span>
                </div>

                <button class="section3-btn">
                    <span>ОСТАВИТЬ ЗАЯВКУ</span>
                </button>
            </div>
            
            <div class="section3-img">
                <img class="logo-botton" src="../images/sound 3.png">
            </div>
        </div>

        <footer class="footer">
            <span>music recording</span>
        </footer>
    </div>
</body>
</html>