<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../team/team.css">
    <script src="../js/script.js" defer></script>
    <title>Team</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="header-menu">
                <div class="header-menu1">
                    <div class="header-logo">
                        <img src="../images/logo.png" alt="logo">
                        <span>music recording</span>
                    </div>
                <div class="nav">
                    <a class="nav-item" href="../index.html"> ГЛАВНАЯ</a>
                    <a class="nav-item" href="service.html"> УСЛУГИ</a>
                    <a class="nav-item" href="team.html"> КОМАНДА</a>
                    <a class="nav-item" href="equipment.html"> ОБОРУДОВАНИЕ</a>
                </div>
    
                <div class="phone">
                    <div class="phone-number"> <a class="num" href="tel:+7 (999) 999 99 99"> +7 (999) 999 99 99</a></div>
                </div>
            </div>
    
            <div class="img">
                <div class="content">
                    <div class="img-text">СТУДИЯ ЗВУКОЗАПИСИ УЛЬЯНОВСК</div>
                    <button id="myBtn" class=" bt"><span>ОСТАВИТЬ ЗАЯВКУ</span></button>
                    <div id="myModal" class="modal">
                        <div class="modal-content">
                            <span class="close">&times;</span>
                            <div class="modal-text1">
                                <span>ЗАЯВКА</span>
                            </div>
                            <div class="modal-text2">
                                <span>Как к Вам обращаться</span>
                                <input type="text" placeholder="Иван">
                            </div>
                            <div class="modal-text3">
                                <span>Номер телефона</span>
                                <input type="tel" placeholder="+7 ">
                            </div>
                            <button class="btn">
                                <span>Отправить</span>
                            </button>
                        </div>
                    </div>
            </div>
                </div>    
            </div>
        </div>

        <main>
            <div class="section1">
                <div class="section1-text1">
                    <span>НАША КОМАНДА</span>
                </div>

                <div class="section1-column">
                    <div class="section1-column1">
                        <div class="section1-column-text1">
                            <span>Андрей</span>
                        </div>
                        <div class="section1-column1-img">
                            <img class="photo" src="../images/Ellipse 9.png">
                        </div>
                        <div class="section1-column1-text2">
                            <p class="text">Активный концертный<br>
                                деятель. Андрей очень<br>
                                веселый парень. Мастер<br>
                                на все руки. Он также<br>
                                играет на флейте и<br>
                                саксофоне, и с радостью<br>
                                подыграет вам любую<br>
                                композицию.</p>
                        </div>
                    </div>

                    <div class="section1-column2">
                        <div class="section1-column2-text1">
                            <span>Максим</span>
                        </div>
                        <div class="section1-column2-img">
                            <img class="photo" src="../images/Ellipse 9.png">
                        </div>
                        <div class="section1-column2-text2">
                            <p class="text">Записать вокал,<br>
                                инструменты, подкаст<br>
                                или сделать аудиорекламу,<br>
                                а также свести трек,<br>
                                обработать аудио дорожки,<br>
                                без проблем Вам поможет<br>
                                наш звукорежиссер Даниил.</p>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <div class="section3">
            <div class="section3-text">
                <div class="section3-text1">
                    <span> КОНТАКТЫ</span>
                </div>

                <div class="section3-text2">
                    <span>Адрес:г.Ульяновск, <br>
                    ул.Карла Маркса, д.15</span>
                </div>

                <div class="section3-text3">
                    <span>Телефон:+7(999) 999 99 99</span>
                </div>

                <div class="section3-text4">
                    <span>Почта: musrecording73@mail.ru</span>
                </div>

                <button class="section3-btn">
                    <span>ОСТАВИТЬ ЗАЯВКУ</span>
                </button>
            </div>
            
            <div class="section3-img">
                <img class="logo-botton" src="../images/sound 3.png">
            </div>
        </div>

        <footer class="footer">
            <span>music recording</span>
        </footer>
    </div>
</body>
</html>